
<div class="row">
    <ul class="list-group">
        <div class="col-lg-3">
          <div class="panel panel-default">
            <li class="list-group-item">

              <img alt="profile" class="image-thumb" src="sai" height="150" width="300">

              <h5 class="upcase">['tags'][0]['name']"</h5>
              <div class="heading">
                <h3 title=" s['headline']">truncate(s['headline'], length: 40)</h3>
              </div>
              <div class="written_by">
                 s['author-name']
              </div>
              <div class="published_on">
                Time.at(s['last-published-at']/1000.0)
              </div>

            </li>
          </div>
        </div>

    </ul>
  </div>

<script type="text/javascript">

$.each(data, function() {
  $.each(this, function(k, v) {
    /// do stuff
  });
});


</script>


<style type="text/css">
.heading{
  height: 85px;
}
.image-thumb{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    height: 50;
    line-height: 1.42857;
    max-width: 100%;
    padding: 4px;
}
.upcase{text-transform: uppercase;}
.written_by{color:#808080; font-weight: 600;}
.published_on{color: #808080}
</style>
